<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Controllers and Actions</title>
</head>

<body>
    @RenderBody()

<hr/>

<div>
    <a asp-controller="Home" asp-action="Index">
        Go to Home.Index()
    </a>
</div>
</body>

</html>
