<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Services Life Cycles</title>
</head>

<body>

@RenderBody()

</body>

<hr/>

<div>
    <a asp-controller="Home" asp-action="Index">
        Back
    </a>
</div>

</html>
