<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

<body>

    @RenderSection("Header")

    <div>
        This is part of the layout
    </div>

    @RenderBody()

    <div>
        This is part of the layout
    </div>

    @RenderSection("Footer")

    <div>
        This is part of the layout
    </div>

</body>
</html>
