**/.vs
**/.idea
**/.ionide
**/.vscode
**/bin
**/obj
**/node_modules
**/venv
**/packages
**/seq-data

#Exclude SQLite DB
/CompleteGuideToEFCore/src/efdemo/efdemo/*.db

#Paket dependency manager
**/.paket/
**/paket-files

#Include .vscode
!/BuildingMicroservicesWithDotNet/Play.Frontend/.vscode
