<!DOCTYPE html>

<html lang="ru-RU">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<div>
    @RenderBody()
</div>
</body>
<footer>
    <hr/>
    @await RenderSectionAsync(name: "footer", required: false)
    @await Component.InvokeAsync("ContentFooter")
</footer>
</html>
