@{ Layout = "_Layout"; }

<div>
    <h3>Redirecting to a Literal URL</h3>
    <a asp-controller="Redirection" asp-action="ActionRedirect">
        Redirection.ActionRedirect()
    </a>
    <h3>Redirecting to a Routing System URL</h3>
    <a asp-controller="Redirection" asp-action="ActionRedirectToRoute">
        Redirection.ActionRedirectToRoute()
    </a>
    <h3>Redirecting to an Action Method</h3>
    <a asp-controller="Redirection" asp-action="ActionRedirectToAction">
        Redirection.ActionRedirectToAction()
    </a>
</div>
