<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>Документ</title>
</head>
<body>
    <style>
        body {
            padding: 0;
            font-size: 18px;
            position: relative;
            height: 100vh;
            margin: 0;
        }
        button {
            margin: 30px 15px;
        }
        .loading {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            padding: 20px;
            z-index: 3;
            background-color: tomato;
            font-size: 10em;
            display: none;
        }
    </style>

    <button class="start">Запуск выборки данных</button>
    <div class="loading">Загрузка</div>

</body>
</html>

<!-- Порядок загрузки скриптов важен -->
<partial name="_ScriptsPartial"/>
<script src="~/custom/methods.js"></script>
