@model string

@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Controllers and Actions</title>
</head>

<body>
<div>
    <b>Model Data</b>: @Model
</div>
</body>

</html>
