<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>@ViewBag.Title</title>
</head>
<body>
<style>
    body {
        padding: 30px;
        font-size: 18px;
        position: relative;
    }
</style>

@RenderBody()

    <partial name="_ScriptsPartial"/>
</body>
</html>
