@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Controllers and Actions</title>
</head>

<body>
<div>
    <a href="/SimplePoco/Index">
        This is a link to the simplest POCO Controller
    </a>
</div>

<div>
    <a href="/Poco/Index">
        This is a link to the POCO Controller that returns Razor View
    </a>
</div>

<div>
    <a asp-controller="Derived" asp-action="Index">
        This is a link to the Derived Controller that returns Razor View
    </a>
</div>
</body>

</html>
