<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Filters</title>
</head>

<body>
<div>
    <a asp-controller="Home" asp-action="FirstAction">
        Test ViewResultDetails filter
    </a>
</div>
<div>
    <a asp-controller="Home" asp-action="SecondAction">
        Test ViewResultDetailsAsync filter
    </a>
</div>
<div>
    <a asp-controller="Home" asp-action="ThirdAction">
        Test Profile (action plus result) filter
    </a>
</div>

</body>

</html>
