@addTagHelper *, TagHelpers

<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Примеры Tag-хелперов</title>
</head>
<body>
<p>
    <hello/>
</p>
<p>
    <rectangle-area a="2.5" b="3.0" units="Mm"/>
</p>
<p>
    <rectangle-area a="2.5" b="3.0" units="Cm"/>
</p>
<p>
    <rectangle-area a="2.5" b="3.0" units="M"/>
</p>
<p>
    <rectangle-area a="2.5" b="3.0" units="Km"/>
</p>
</body>
</html>
