@model string[]
@{
    Layout = "_Layout";
}

@section Header
{
    <div>
        --- HEADER ---
        @foreach (var str in new[] { "Home", "List", "Edit" })
        {
            <a asp-action="str">@str</a>
        }
    </div>
}

@section Body
{
    <div>
        --- BODY ---
        This is a list of fruit names:
        @foreach (var name in Model)
        {
            <span><b>@name</b></span>
        }
    </div>
}
