@{ Layout = null; }

<div>
    <h2>Transient services</h2>
    <a asp-controller="Transient" asp-action="Index">
        Call TransientController
    </a>
</div>

<div>
    <h2>Scoped services</h2>
    <a asp-controller="Scoped" asp-action="Index">
        Call ScopedController
    </a>
</div>

<div>
    <h2>Singleton services</h2>
    <a asp-controller="Singleton" asp-action="Index">
        Call SingletonController
    </a>
</div>

