@model string[]
@{
    Layout = "_HomeLayout";
}

<div>
    <a asp-controller="Section" asp-action="Index">
        Using Layout Sections
    </a>
</div>

<div>
    <a asp-controller="AllSection" asp-action="Index">
        Using Layout All Sections
    </a>
</div>

<div>
    <a asp-controller="TestingForSection" asp-action="Index">
        Testing for Sections
    </a>
</div>

<div>
    <a asp-controller="RenderingOptionalSection" asp-action="Index">
        Rendering Optional Sections
    </a>
</div>
