
@{
    Layout = "_Layout";
}

<div>
    <a asp-controller="Expander" asp-action="Index">
        Understanding View Location Expanders (watch on information in Exception)
    </a>
</div>
<div>
    <a asp-controller="Expander" asp-action="Index" asp-route-id="red">
        Selecting Specific Views for Requests (watch on information in Exception). Color Red.
    </a>
</div>
<div>
    <a asp-controller="Expander" asp-action="Index" asp-route-id="green">
        Selecting Specific Views for Requests (watch on information in Exception). Color Green.
    </a>
</div>
<div>
    <a asp-controller="Expander" asp-action="Index" asp-route-id="blue">
        Selecting Specific Views for Requests (watch on information in Exception). Color Blue.
    </a>
</div>

