<div>
    <h2>Closely coupled example</h2>
    <a asp-controller="CloselyCoupled" asp-action="Index">
        Closely coupled components example
    </a>
</div>

<div>
    <h2>Decopled components example</h2>
    <a asp-controller="Decoupled" asp-action="Index">
        Decoupling Components for Unit Testing
    </a>
</div>

<div>
    <h2>Usage type broker example</h2>
    <a asp-controller="UsageTypeBroker" asp-action="Index">
        Using a Type Broker
    </a>
</div>
