<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RESTful Controllers</title>
    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="~/node_modules/jquery/dist/jquery.jquery.min.js"></script>
    <script src="js/client.js"></script>
</head>

<body class="m-1 p-1">
    @RenderBody()
</body>

</html>
