@model string

@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Routing</title>
</head>

<body>
<div>
    <h2>GetLegacyURL</h2>
</div>
<div>
    The URL requested was: @Model
</div>
</body>

</html>
