@{ Layout = "_Layout"; }

<form method="post" asp-action="ReceiveForm">
    <div>
        <label for="name">Name:</label>
        <input name="name"/>
    </div>

    <div>
        <label for="city">City:</label>
        <input name="city" />
    </div>
    
    <div>
        <button type="submit">Submit</button>
    </div>
</form>