<a asp-controller="Home" asp-action="About">Показать string и int параметры Session</a>
<br/>
<a asp-controller="Home" asp-action="Person">Показать сериализированное string содержимое класса Person</a>
