<html>
<head>
    <title>Примеры код-вставок для Razor</title>
</head>
<body>
@*Простые выражения*@
<p>Комментарии в Razor: @@*Комментарий*@@</p>
<p>Дата: @DateTime.Now.ToLongDateString()</p>
<p>Арифметическое выражение: 3 + 1 = @(3 + 1)</p>
<p>Печать "собачки": @@DateTime.Now = @DateTime.Now.ToLongDateString()</p>
<p>Конкатенация строк и использование переменной:</p>
@{
    var text = "Добрый день, уважаемый пользователь!\n";
    text = text + " Добро пожаловать на наш сайт!";
}
    <h2>@text</h2>

</body>
</html>